/* CAMBIOS A TODA LA PAGINA */

*{
    margin: 0;
    padding: 0;
}

/* FIN CAMBIOS A TODA LA PAGINA */

/* MENU DE NAVEGACION */
nav ul{
    list-style-type: none; /*quita los puntos/numeros de los elementos de las listas*/
    overflow: auto; /* un desplazamiento interno cuando su contenido exceda los límites*/
    z-index: 1; /*determina qué elementos se muestran encima de otros en el eje z*/
    background-color: green; /*color de fondo verde*/
    position: fixed; /*deja fijo en la pagina*/
    width: 100%; /*ancho*/
}nav li{
    float: left; /*posiciona los elementos a lo largo*/
}nav li a{
    color: white; /*color de texto de los elementos*/
    text-decoration: none; /*quita el subrayado del texto*/
    padding: 15px; /*cantidad de espacio entre el borde de la pagina y el elemento*/
    display: inline-block; /*definir bloque en linea para los elementos y tener control sobre su tamaño y posición*/
    /* text-align: center; */
}
nav li a:hover{
    color: red;
    background-color: white;
}
/*FIN MENU DE NAVEGACION */
/*HERO - PARA TITULO DE PAGINA*/

.hero{
    background-image:linear-gradient(rgba(0, 255, 85, 0.404),rgba(255, 238, 0, 0.24)), url(img/tulipanes\ fondo.jpg);
    width: 100%;
    height: 650%;
    background-repeat: no-repeat; /*la imagen se mostrará solo una vez y no se repetirá en el fondo del elemento*/
    background-size: cover; /*imagen de fondo cubra todo el contenedor, sin importar el tamaño de la imagen o del contenedor*/
    background-position: center;
    background-attachment: fixed;/*imagen de fondo de un elemento se desplaza con el contenido o permanece fija*/
}
.text-hero{
    color: white;
    text-align: center;
    padding: 250px;
}

/*FIN HERO - PARA TITULO DE PAGINA*/